[tools]
python = "3.12"

[env]
_.file = '.env'

[tasks.prod]
run = "uvicorn main:app --host 0.0.0.0 --port 8000 --workers 1 --loop uvloop --http h11"

[tasks."dev"]
run = "fastapi dev main.py"

[tasks."dev:custom"]
run = "uvicorn main:app --reload --host 0.0.0.0 --port 8000 -- --config server/config.example.yaml"

[tasks."swagger:llm:list"]
description = "List available LLM models"
run = "curl http://localhost:8000/llm/list -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:tts:list"]
description = "List available TTS models"
run = "curl http://localhost:8000/tts/list -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:llm:get"]
description = "Get current LLM model"
run = "curl http://localhost:8000/llm -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:tts:get"]
description = "Get current TTS model"
run = "curl http://localhost:8000/tts -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:llm:switch:qwen"]
description = "Switch to Qwen/Qwen3-0.6B model"
run = "curl -X PUT http://localhost:8000/llm/switch -H 'Content-Type: application/json' -d '{\"name\": \"Qwen/Qwen3-0.6B\"}' -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:llm:switch:dolphin"]
description = "Switch to Dolphin-X1-8B-GGUF model"
run = "curl -X PUT http://localhost:8000/llm/switch -H 'Content-Type: application/json' -d '{\"name\": \"dphn/Dolphin-X1-8B-GGUF\"}' -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:tts:switch:fra"]
description = "Switch to French TTS model"
run = "curl -X PUT http://localhost:8000/tts -H 'Content-Type: application/json' -d '{\"name\": \"facebook/mms-tts-fra\"}' -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:tts:switch:eng"]
description = "Switch to English TTS model"
run = "curl -X PUT http://localhost:8000/tts/switch -H 'Content-Type: application/json' -d '{\"name\": \"facebook/mms-tts-eng\"}' -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"

[tasks."swagger:events:add"]
description = "Add event to queue"
run = "curl -X POST http://localhost:8000/events/add -H 'Content-Type: application/json' -H \"Authorization: Bearer $AUTH_TOKEN\" -d '{\"eventIds\": [\"04773c7b-63a2-4c31-a436-f98206a60162\"]}' | jq"

[tasks."swagger:events:list"]
description = "List events"
run = "curl http://localhost:8000/events/list -H \"Authorization: Bearer $AUTH_TOKEN\" | jq"